body {
  background-color: rgb(255, 255, 255);
  color: #FC2B02;

  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Druk Wide Bold", sans-serif;
}

h1 {
  font-size: 4rem;
}

img {
  max-width: 100%;
  height: auto;
}
