body {
  background-color: black;
  color: #ffffdb;

  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Special Gothic Expanded One", "wotfard", sans-serif;
}

h1 {
  font-size: 4rem;
}
